---
BasedOnStyle: LLVM
TabWidth: 2
IndentWidth: 2
UseTab: ForIndentation
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true
SpacesBeforeTrailingComments: 2
BreakBeforeBraces: Custom
BraceWrapping:
  BeforeElse: true
...
